@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 255, 255, 255;
		--background-end-rgb: 255, 255, 255;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

h1 {
	@apply font-hedvig;
	@apply text-4xl;
	@apply lg:text-4xl;
	@apply text-zinc-800;
}

h2 {
	@apply font-hedvig;
	@apply text-2xl;
	@apply font-light;
	@apply text-zinc-700;
}

h3 {
	@apply text-xl;
	@apply font-hedvig;
	@apply text-zinc-800;
}

p {
	@apply font-sans;
	@apply text-zinc-700;
	@apply text-lg;
}
